/* GENERAL CSS RULES */
h1 {
    text-align: center;
}

/* CARD */
.card-container {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 90%;
    height: auto;
    box-shadow: 1px 1px 5px rgb(197, 197, 197);
    padding: 5px;
}
.card-container h2 {
    margin-left : 20px;
}
.card-top {
    display: flex;
    margin : 10px;
}
.photo-container {
    display: flex;
    width: 150px;
    height: 200px;
    object-fit: contain;
}